
<ion-view title="ScrumBoard Iniciar sesión">
    <div class="padding-example">
        <div>Scrumboard</div>
    </div>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Proyecto" ng-model="Proyecto.Nombre">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="Proyecto.Password"   >
            </label>

            <label class="item">
                <button class="button button-block button-positive" ng-click="iniciarSesion()">
                    Entrar
                </button>
            </label>
            <label class="item">
                <button class="button button-block button-positive" ui-sref="noLogin.registro">
                    Crear
                </button>

            </label>
        </div>

    </ion-content>

</ion-view>