
<ion-view title="ScrumBoard">
      <ion-content class="centrar" >
            <div class="item">
              <img  src="img\logoscrumb.png" >
            </div>
            <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Proyecto" ng-model="Proyecto.Nombre">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="Proyecto.Password">
            </label>

            <label class="item">
                <button class="button button-block button-positive" ng-click="iniciarSesion()">
                    Entrar
                </button>
            </label>
            <label class="item">
                <button class="button button-block button-assertive" ui-sref="noLogin.registro">
                    Crear
                </button>
            </label>
         </div>
      </ion-content>
</ion-view>