
<ion-view title="ScrumBoar Iniciar sesión">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Proyecto" ng-model="proyecto.nombre">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="proyecto.contraseña">
            </label>

            <label class="item">
                <button class="button button-block button-positive" ng-click="iniciarSesion()"> Entrar
                </button>
            </label>
            <label class="item">
                <button class="button button-block button-positive" ui-sref="noLogin.registro">
                    Crear
                </button>

            </label>
        </div>

    </ion-content>

</ion-view>