<ion-view title="Registro">

    <ion-content>

        <div class="list">

            <label class="item item-input">
                <input type="text" placeholder="Nombre"  ng-model="proyecto.nombre">
            </label>

            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="proyecto.password">
            </label>

            <label class="item">
                <button class="button button-full button-positive" ng-click="registro()">
                    Nuevo Proyecto
                </button>
            </label>

        </div>

    </ion-content>

</ion-view>

