<ion-view title="Nuevo Proyecto">
    <ion-content>
        <div class="list">

            <label class="item item-input">
                <input type="text" placeholder="Nombre del Proyecto"  ng-model="Proyecto.Nombre">
            </label>

            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="usuario.password">
            </label>
            <label class="item">
                <button class="button button-block button-positive" ng-click="registro()">
                    Nueva cuenta
                </button>

            </label>
        </div>

    </ion-content>

</ion-view>