<div class="bar bar-header">
    <button class="button button-icon icon ion-navicon" ui-sref="noLogin.login"></button>
    <div class="h1 title"></div>
    <button class="button button-icon ion-plus-circled" ui-sref="noLogin.crearTarea"></button>
</div>
<h1></h1>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Dashboard Tab -->
    <ion-tab title="Backlog" icon-off="ion-ios7-filing" icon-on="ion-ios7-filing" href="#/tasks/backlog">
        <ion-nav-view name="tasks-backlog"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="To-Do" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tasks/todo">
        <ion-nav-view name="tasks-todo"></ion-nav-view>
    </ion-tab>

    <!-- Friends Tab -->
    <ion-tab title="In Review" icon-off="ion-ios7-chatboxes-outline" icon-on="ion-ios7-chatboxes" href="#/tasks/inreview">
        <ion-nav-view name="tasks-inreview"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Done!" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tasks/done">
        <ion-nav-view name="tasks-done"></ion-nav-view>
    </ion-tab>

</ion-tabs>
