<ion-view view-title="To-Do">
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-right" ng-repeat="todo in todo" type="item-text-wrap" href="#/tab/todo/{{todo.id}}">
        <h2>{{Tarea.Nombre}}</h2>
        <p>{{Tarea.Descripcion}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
